**Scientific Computation (MKP3303)**


> R.U.Gobithaasan (2021). Scientific Computing, Lectures for Undergraduate Degree Program B.Sc (Applied Mathematics), Faculty of Ocean Engineering Technology & Informatics, University Malaysia Terengganu.
https://sites.google.com/site/gobithaasan/LearnTeach

<p align="center">
     Â© 2021 R.U. Gobithaasan All Rights Reserved.

</p>

**Chapter 3: Lists, Arrays, Vectors and Matrix Operations**   

**PART 1**

1. Types of Lists in Python

**PART 2: Next Notebook**

2. Arrays                   
3. Column and row vector          
4. Vector and matrix operation

**References:** 
- Robert Johansson, Numerical Python: Scientific Computing and Data Science Applications with Numpy, SciPy and Matplotlib (2019, Apress).
>Source code listings for [Numerical Python - A Practical Techniques Approach for Industry](http://www.apress.com/9781484205549) (ISBN 978-1-484205-54-9). The source code listings can be downloaded from http://www.apress.com/9781484205549

**PART 1**
# Introduction to types of lists in Python:
The Python famous builtin list types are:
1. str using quote `""`
2. list using braket `[]`
2. tuple using parentheses `()`
3. set using braces `{}`
4. dict using braces `{}` and `:` to separate keys and values.

**Strings, lists, tuples, and dictionaries are objects, which means that they not only hold values, but have built-in functions called methods, that manipulate the values in the object.**

## String: a collection of elements where order matters.

In [11]:
'fish'=='ishf' #order matters

False

In [9]:
print("Enter your name:")
x = input()
print("Hello, " + x)

Enter your name:

 Amin

Hello, Amin

In [10]:
type(x)

str

In [21]:
x.capitalize(), x.casefold(), x.upper()

('Amin', 'amin', 'AMIN')

In [30]:
??x.partition

Signature: x.partition(sep, /)
Docstring:
Partition the string into three parts using the given separator.

This will search for the separator in the string.  If the separator is found,
returns a 3-tuple containing the part before the separator, the separator
itself, and the part after it.

If the separator is not found, returns a 3-tuple containing the original string
and two empty strings.
Type:      builtin_function_or_method

In [32]:
x.partition('i')

('Am', 'i', 'n')

## Lists : a collection which is ordered and changeable; allows duplicate elements.

In [71]:
list1 = list()
list2 = []
type(list1),type(list2)

(list, list)

In [8]:
list3=['S',3,2,1,5,1]
list4=['S',3,2,5,1,1]
list5=['S',3,2,5,1]
list3==list4, list4==list5

(False, False)

In [3]:
alphabets = ['i',' ', 'l','o','v','e','  ','o','c','e','a','n']
print(alphabets)  
type(alphabets)

['i', ' ', 'l', 'o', 'v', 'e', '  ', 'o', 'c', 'e', 'a', 'n']

list

- Accessing a element

In [59]:
alphabets[0], alphabets[1], alphabets[-1], alphabets[-2]

('i', ' ', 'n', 'a')

- Accessing a collection of elements

In [64]:
alphabets[2:6], alphabets[7:],

(['l', 'o', 'v', 'e'], ['o', 'c', 'e', 'a', 'n'])

- Matching list values

In [45]:
print('o' in alphabets)
'x' in alphabets

True

False

- various kind of builtin functions readyly available for lists.

In [ ]:
#alphabets. #press tab after the dot operator to access builtin function

For example, **append**ing a new element to the list

In [78]:
alphabets.append('so much!')
print(alphabets)
alphabets.remove('so much!')
print(alphabets)

['i', ' ', 'l', 'o', 'v', 'e', '  ', 'o', 'c', 'e', 'a', 'n', 'so much!', 'so much!', 'so much!']
['i', ' ', 'l', 'o', 'v', 'e', '  ', 'o', 'c', 'e', 'a', 'n', 'so much!', 'so much!']

- Accessing a element

In [48]:
print(alphabets.count('o')) #count number of appearance
print(alphabets.index('o')) #print the index of the element
print(len(alphabets)) #print the length of the list
print(alphabets.reverse())

2
3
12
None

In [51]:
alphabets.append('so much') #add a new element to the list
print(alphabets)
alphabets.remove('so much') #remove an element to the list
print(alphabets)

['n', 'a', 'e', 'c', 'o', '  ', 'e', 'v', 'o', 'l', ' ', 'i', 'so much']
['n', 'a', 'e', 'c', 'o', '  ', 'e', 'v', 'o', 'l', ' ', 'i']

The Python code below saves numbers in a list, **sort** the list, and print the sorted list.

In [13]:
mylist=[]
for i in range(0,3):
    n=input('Enter a number\n')
    mylist.append(n)
mylist.sort()
for  i in range(0,3):
  print(mylist[i]+',',end=' ')

Enter a number
 20
Enter a number
 12
Enter a number
 30

12, 20, 30,

## Sets: a collection which is unordered and unindexed; no duplicate members.

In [1]:
y0 = set() 
print(y0)
y1 = {'c', 'd', 'e', 'f','e'}
print(y1)
type(y1)

set()
{'e', 'c', 'd', 'f'}

set

In [73]:
y2 = {'c','d', 'f','e', 'e'}
y1 == y2

True

In [ ]:
# y2. #press tab after the dot operator to access builtin function

In [84]:
y3 = {'c','a','t'}
y2.intersection(y3)

{'c'}

In [85]:
y2.union(y3)

{'a', 'c', 'd', 'e', 'f', 't'}

## Tuples: a collection which is ordered and unchangeable; allows duplicate members. Best example is a coordinate in a plane $(x,y) \neq (y,x)$

In [100]:
t1 = tuple()
print(t1)
type(t1)

t2 = ('c', 'd', 'e', 'f') 
print(t2)
type(t2)

x = a,b = 2,3
print(a,b)
type(x)

()
('c', 'd', 'e', 'f')
2 3

tuple

In [ ]:
t2. #press tab after the dot operator to access builtin function

## Dictionary: a collection which is unordered, changeable and indexed; no duplicate members.

 $x = \{ key1: values, key2: values\}$

In [129]:
d1 = dict() 
print(d1)
print(type(d1))

{}
<class 'dict'>

In [153]:
x = {'apple':2, 'banana':9, 'carrot':4} 
y = {'cat':1, 'dog':11, 'elephant':5, 'fish':0}   
print(x) 
len(y)

{'apple': 2, 'banana': 9, 'carrot': 4}

4

In [132]:
y.items()

dict_items([('cat', 1), ('dog', 11), ('elephant', 5), ('fish', 0)])

- checking a key

In [141]:
y.keys()

dict_keys(['cat', 'dog', 'elephant', 'fish'])

In [147]:
'cat' in y

True

In [148]:
'girrafe' in y

False

- Accessing a key's value

In [135]:
y.values()

dict_values([1, 11, 5, 0])

In [131]:
y.get('dog'), y['dog']

(11, 11)

- add and remove keys

In [150]:
y['girrafe'] = '2'
y

{'cat': 1, 'dog': 11, 'elephant': 5, 'fish': 0, 'girrafe': '2'}

In [154]:
del y['cat']
y

{'dog': 11, 'elephant': 5, 'fish': 0}

- combining two dictionary

In [155]:
z = dict(x,**y) 
print(z)

{'apple': 2, 'banana': 9, 'carrot': 4, 'dog': 11, 'elephant': 5, 'fish': 0}

In [156]:
sorted(z)

['apple', 'banana', 'carrot', 'dog', 'elephant', 'fish']

### using get() to match a key

In [176]:
student_matrixnu ={
    2341: "Ali Ahmad",
    2345: "Chong Wei",
    7657: "James Pandian",
    7888: "Siti Mirah",
}

def greeting(matrixnu):
    return ("Hi %s!" % student_matrixnu.get(matrixnu) + " How are you today?")

In [177]:
print(greeting(7657))
print(greeting(7888))

Hi James Pandian! How are you today?
Hi Siti Mirah! How are you today?

## Speical tuple: `namedtuples` which has similar function of defining class

In [178]:
from collections import namedtuple
fruit = namedtuple('Fruit', 'color size weightInGram')

#new object
grapes = fruit('purple', 'small', 10)
apple = fruit('orange', 'medium', 50)

In [179]:
grapes.color

'purple'

In [180]:
grapes.weightInGram

10

In [181]:
grapes.size

'small'