**Scientific Computation (MKP3303)**


> R.U.Gobithaasan (2021). Scientific Computing, Lectures for Undergraduate Degree Program B.Sc (Applied Mathematics), Faculty of Ocean Engineering Technology & Informatics, University Malaysia Terengganu.
https://sites.google.com/site/gobithaasan/LearnTeach

<p align="center">
     © 2021 R.U. Gobithaasan All Rights Reserved.

</p>

**Chapter 3: Lists, Arrays, Vectors and Matrix Operations**   

**PART 1:**

1. Types of Sequences in Python: Built-in containers

**PART 2:Next Notebook**

2. Arrays                   
3. Column and row vector
4. Matrix representation

**PART 3**

5. Introduction to array operations 
6. Vector and Matrix Operations
7. Towards Higher dimensions
8. Reading and writing files
9. Bonus: Python for Data Analysis (Pandas)

**References:** 
- Robert Johansson, Numerical Python: Scientific Computing and Data Science Applications with Numpy, SciPy and Matplotlib (2019, Apress).
>Source code listings for [Numerical Python - A Practical Techniques Approach for Industry](http://www.apress.com/9781484205549) (ISBN 978-1-484205-54-9). The source code listings can be downloaded from http://www.apress.com/9781484205549

**PART 1**
# Introduction to types of sequences in Python:
A **container** is an object that is used to store various types of objects. The Python famous builtin sequences to represent a coclletion of inputs:
1. str using quote `""`
2. list using braket `[]`
2. tuple using parentheses `()`
3. set using braces `{}`
4. dict using braces `{}` and `:` to separate keys and values.

**Strings, lists, tuples, and dictionaries are objects, which means that they not only hold values, but have built-in functions called methods, that manipulate the values in the object.**

## String: a collection of elements where order matters.

In [11]:
'fish'=='ishf' #order matters

False

In [1]:
print("Enter your name:")
x = input()
print("Hello, " + x)

Enter your name:

 ali

Hello, ali

In [2]:
type(x)

str

In [ ]:
x.

In [3]:
x.capitalize(), x.casefold(), x.upper()

('Ali', 'ali', 'ALI')

In [30]:
??x.partition

Signature: x.partition(sep, /)
Docstring:
Partition the string into three parts using the given separator.

This will search for the separator in the string.  If the separator is found,
returns a 3-tuple containing the part before the separator, the separator
itself, and the part after it.

If the separator is not found, returns a 3-tuple containing the original string
and two empty strings.
Type:      builtin_function_or_method

In [4]:
x.partition('i')

('al', 'i', '')

## Lists : a collection which is ordered and changeable; allows duplicate elements.

In [5]:
list1 = list()
list2 = []
type(list1),type(list2)

(list, list)

- Lists below are called **heterogeneous** lists, means the elements are mixtures of more than one king; a string and integers.

In [11]:
list3=['S',3,2,1,5,1]
list4=['S',3,2,5,1,1]
list5=['S',3,2,5,1]
list3==list4, list4==list5

(False, False)

- Lists can have various types of elements

In [12]:
type(list3[0]), type(list3[1]),

(str, int)

- Lists below is called **homogeneous** list, means the elements of one kind; made of strings.

In [3]:
alphabets = ['i',' ', 'l','o','v','e','  ','o','c','e','a','n']
print(alphabets)  
type(alphabets)

['i', ' ', 'l', 'o', 'v', 'e', '  ', 'o', 'c', 'e', 'a', 'n']

list

- Accessing a element

In [59]:
alphabets[0], alphabets[1], alphabets[-1], alphabets[-2]

('i', ' ', 'n', 'a')

- Accessing a collection of elements

In [64]:
alphabets[2:6], alphabets[7:],

(['l', 'o', 'v', 'e'], ['o', 'c', 'e', 'a', 'n'])

- Matching list values

In [45]:
print('o' in alphabets)
'x' in alphabets

True

False

- various kind of builtin functions readyly available for lists.

In [ ]:
alphabets. #press tab after the dot operator to access builtin function

- Lists are **mutable**: meaning their values can be changed after creation and they are not of fixed size. For example, **append**ing a new element to the list

In [8]:
alphabets.append('so much!')
print(alphabets)
alphabets.remove('so much!')
print(alphabets)

['i', ' ', 'l', 'o', 'v', 'e', '  ', 'o', 'c', 'e', 'a', 'n', 'so much!']
['i', ' ', 'l', 'o', 'v', 'e', '  ', 'o', 'c', 'e', 'a', 'n']

- Various methonds for lists

In [6]:
print(alphabets.count('o')) #count number of appearance
print(alphabets.index('o')) #print the index of the element
print(len(alphabets)) #print the length of the list
alphabets.reverse() # this method reverses the original list 
alphabets

2
3
12

['n', 'a', 'e', 'c', 'o', '  ', 'e', 'v', 'o', 'l', ' ', 'i']

- **sort** the list, and print the sorted list.

In [13]:
list3.sort() #you cannot sort if the list has mixtures of integres and strings#

TypeError: '<' not supported between instances of 'int' and 'str'

In [40]:
list6 = [3,2,5,1]
print(list6)
list6.sort()
list6

[3, 2, 5, 1]

[1, 2, 3, 5]

In [43]:
list7 = ['i',' ', 'l','o','v','e','  ','o','c','e','a','n']
print(list7)
list7.sort()
list7

['i', ' ', 'l', 'o', 'v', 'e', '  ', 'o', 'c', 'e', 'a', 'n']

[' ', '  ', 'a', 'c', 'e', 'e', 'i', 'l', 'n', 'o', 'o', 'v']

- The Python code below takes **three numbers** in a list nad sorts in increasing orders

In [7]:
mylist=[]
for i in range(0,3):
    n = int(input('Enter an Integer\n'))
    mylist.append(n)

mylist.sort()
print(mylist)

Enter an Integer
 12
Enter an Integer
 3
Enter an Integer
 5

[3, 5, 12]

- The Python code below saves **three names** in a list and sorts in alphebetical orders

In [8]:
mylist=[]
for i in range(0,3):
    n=input('Enter a name\n')
    mylist.append(n)
    mylist.sort()
    
mylist

Enter a name
 zainab
Enter a name
 chong
Enter a name
 baini

['baini', 'chong', 'zainab']

## Sets: a collection which is unordered and unindexed; no duplicate members.

In [51]:
y0 = set() 
print(y0)

set()

- two 'e' elements are considered as one 'e'

In [52]:
y1 = {'c', 'd', 'e', 'f','e'} 
print(y1)
type(y1)

{'e', 'f', 'd', 'c'}

set

- 'set' object is not subscriptable

In [27]:
y1[2] # error

TypeError: 'set' object is not subscriptable

- You may use a loop to check if an element is in the set

In [58]:
'd' in y1

True

- Set is mutable; hence you may add or remove elements into a specified set

In [53]:
y1.update('x','y')
y1

{'c', 'd', 'e', 'f', 'x', 'y'}

In [54]:
y1.remove('y')
y1

{'c', 'd', 'e', 'f', 'x'}

- you can compare two set, TRUE for elements in different order.

In [57]:
y2 = {'x','c','d', 'f', 'e'}
y1 == y2

True

In [ ]:
y2. #press tab after the dot operator to access builtin function

In [24]:
y3 = {'c','a','t'}
y2.intersection(y3)

{'c'}

In [51]:
y2.union(y3)

{'a', 'c', 'd', 'e', 'f', 't'}

## Tuples: a collection which is ordered and unchangeable; allows duplicate members. Best example is a coordinate in a plane $(x,y) \neq (y,x)$

In [52]:
t1 = tuple()
print(t1)
type(t1)

t2 = ('c', 'd', 'e', 'f') 
print(t2)
type(t2)

x = a,b = 2,3
print(a,b)
type(x)

()
('c', 'd', 'e', 'f')
2 3

tuple

In [ ]:
t2. #press tab after the dot operator to access builtin function

- the element of a tuple can have various datatypes as well.

In [30]:
StudentInfo = ("Ali", 170, 5.7)
print(type(StudentInfo))
type(StudentInfo[0]),type(StudentInfo[1]),type(StudentInfo[2])

<class 'tuple'>

(str, int, float)

- Unlike lists, tuples are immutable and the elements values are fixed. However we can chance the tuples' elements by converting it to lists.

In [39]:
StudentInfoLIST = list(StudentInfo)
StudentInfoLIST[0] = "Ahmad"
print(type(StudentInfoLIST))

NewStudentInfo = tuple(StudentInfoLIST)
print(type(NewStudentInfo))
print(NewStudentInfo)

<class 'list'>
<class 'tuple'>
('Ahmad', 170, 5.7)

## Dictionary: a collection which is unordered, mutable, changeable and indexed, but no duplicate members.

 $x = \{ key1: values, key2: values\}$

In [53]:
d1 = dict() 
print(d1)
print(type(d1))

{}
<class 'dict'>

In [75]:
x = {'apple':2, 'banana':9, 'carrot':4} 
y = {'cat':1, 'dog':11, 'elephant':5, 'fish':0}   
print(x) 
len(y)

{'apple': 2, 'banana': 9, 'carrot': 4}

4

In [76]:
y.items()

dict_items([('cat', 1), ('dog', 11), ('elephant', 5), ('fish', 0)])

- checking a key

In [56]:
y.keys()

dict_keys(['cat', 'dog', 'elephant', 'fish'])

In [57]:
'cat' in y

True

In [58]:
'girrafe' in y

False

- Accessing a key's value

In [59]:
y.values()

dict_values([1, 11, 5, 0])

In [131]:
y.get('dog'), y['dog']

(11, 11)

- add and remove keys

In [77]:
y['girrafe'] = 2
y

{'cat': 1, 'dog': 11, 'elephant': 5, 'fish': 0, 'girrafe': 2}

In [78]:
del y['cat']
y

{'dog': 11, 'elephant': 5, 'fish': 0, 'girrafe': 2}

- combining two dictionary

In [62]:
z = dict(x,**y) 
print(z)

{'apple': 2, 'banana': 9, 'carrot': 4, 'dog': 11, 'elephant': 5, 'fish': 0, 'girrafe': '2'}

In [63]:
sorted(z)

['apple', 'banana', 'carrot', 'dog', 'elephant', 'fish', 'girrafe']

### using get() to match a key

In [66]:
student_matrixnu = {
    2341: "Ali Ahmad",
    2345: "Chong Wei",
    7657: "James Pandian",
    7888: "Siti Mirah",
}

def greeting(matrixnu):
    return ("Hi %s!" % student_matrixnu.get(matrixnu) + " How are you today?")

In [65]:
type(student_matrixnu)

dict

In [67]:
print(greeting(7657))
print(greeting(7888))

Hi James Pandian! How are you today?
Hi Siti Mirah! How are you today?

## print(dir(collection))
`collections` is a built-in Python module that implements specialized container datatypes providing alternatives to Python’s general purpose built-in containers such as dict, list, set, and tuple.

In [4]:
import collections
print(dir(collections))

['ChainMap', 'Counter', 'OrderedDict', 'UserDict', 'UserList', 'UserString', '_Link', '_OrderedDictItemsView', '_OrderedDictKeysView', '_OrderedDictValuesView', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__getattr__', '__loader__', '__name__', '__package__', '__path__', '__spec__', '_chain', '_collections_abc', '_count_elements', '_eq', '_heapq', '_iskeyword', '_itemgetter', '_proxy', '_recursive_repr', '_repeat', '_starmap', '_sys', '_tuplegetter', 'abc', 'defaultdict', 'deque', 'namedtuple']

### Speical tuple: `namedtuples` which has similar function of defining class

In [73]:
from collections import namedtuple
fruit = namedtuple('Fruit', 'color size weightInGram')

#new object
grapes = fruit('purple', 'small', 10)
apple = fruit('red', 'medium', 50)

In [69]:
grapes.color

'purple'

In [70]:
grapes.weightInGram

10

In [71]:
grapes.size

'small'

In [72]:
apple.color

'orange'

For n dimensional array and matrix representations, we will use **NumPy** which will be discussed in Part 2.