**Scientific Computation (MKP3303)**


> R.U.Gobithaasan (2021). Scientific Computing, Lectures for Undergraduate Degree Program B.Sc (Applied Mathematics), Faculty of Ocean Engineering Technology, University Malaysia Terengganu.
https://sites.google.com/site/gobithaasan/LearnTeach

<p align="center">
     Â© 2021 R.U. Gobithaasan All Rights Reserved.

</p>

**Chapter 2: Numbers, Expressions and Functions**                             
1. Integers, rational numbers and irrational numbers.
2. Floating point numbers
3. Complex numbers 
4. Expressions, assignment statements, equalities,
5. Control Flow Statements
6. Functions (Python & Mathematics)
7. Overflow error, underflow error and rounding-off error 
8. Developing your own module

**References:** 
- [w3schools Online Materials](https://www.w3schools.com/python/)
-  [SciPi Lecture Notes](http://scipy-lectures.org/)
- Robert Johansson, Numerical Python: Scientific Computing and Data Science Applications with Numpy, SciPy and Matplotlib (2019, Apress).
- Donaldson Toby,Python: Visual QuickStart Guide (2008, Peachpit Press).
- Tony Gaddis-Starting Out with Python,(2018,Global Edition-Pearson Education)
- Robert Johansson August, Introduction to Scientific Computing in Python Continuum Analytics, (2015)

# Integers, Rational numbers and Irrational numbers
# Floating Point Numbers (Reals)
 with Booleans & Strings as well.

In [1]:
x = 3.0

In [2]:
type(x)

float

In [3]:
type(3), type(3.3), type('UMT')

(int, float, str)

In [4]:
#Assigning values to variables

a = 2
b = 3.3
c = 2/3 # division
d = 'z'
e = 'UMT'
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))

<class 'int'>
<class 'float'>
<class 'float'>
<class 'str'>
<class 'str'>

In [5]:
c

0.6666666666666666

In [6]:
a

2

In [7]:
%who

a	 b	 c	 d	 e	 x

In [8]:
x

3.0

In [9]:
f = False
g = True
print(type(f))
print(type(g))

<class 'bool'>
<class 'bool'>

In [10]:
f

False

In [11]:
not f

True

In [12]:
3.4e03 #multiply by 10 power of 3

3400.0

In [13]:
.34

0.34

In [14]:
print(10+(-4))
print(10+-4)

6
6

$3^{2}$

In [15]:
3 ** 2 #power

9

In [16]:
3^2

1

In [17]:
import math
math.pow(2,5)

32.0

In [18]:
# 1/0 #meant to show error message

## Not a number

In [19]:
type(None) # The None keyword is used to define a null value, or no value at all.

NoneType

In [20]:
None in { None,2}

True

- **NaN stands for Not A Number** and is one of the common ways to represent the missing value in the data. It is a special floating-point value and cannot be converted to any other type than float.

In [21]:
x = float('nan')
x

nan

In [22]:
import math
print(math.isnan(x))

True

In [23]:
import numpy 
numpy.isnan(x)

True

### Rational Numbers

In [24]:
from fractions import Fraction
# from module import function

In [25]:
Fraction?

Init signature: Fraction(numerator=0, denominator=None, *, _normalize=True)
Docstring:
This class implements rational numbers.

In the two-argument form of the constructor, Fraction(8, 6) will
produce a rational number equivalent to 4/3. Both arguments must
be Rational. The numerator defaults to 0 and the denominator
defaults to 1 so that Fraction(3) == 3 and Fraction() == 0.

Fractions can also be constructed from:

  - numeric strings similar to those accepted by the
    float constructor (for example, '-2.3' or '1e10')

  - strings of the form '123/456'

  - float and Decimal instances

  - other Rational instances (including integers)
File:           c:\program files\python38\lib\fractions.py
Type:           ABCMeta
Subclasses:

In [26]:
p1=Fraction(1,5)
p2=Fraction(3,5)
print(p1)
print(p1+p2)
print(p2-p1)

1/5
4/5
2/5

In [27]:
p1

Fraction(1, 5)

In [28]:
p1.numerator

1

In [29]:
p1.denominator

5

In [30]:
a,b

(2, 3.3)

In [31]:
type(Out[30])

tuple

In [32]:
p1.numerator, p1.denominator # seperating them using builtin function in "fractions"

(1, 5)

In [33]:
p3=Fraction('2.1')
print(p3)

21/10

## Irrational numbers
examples include $\sqrt{2}$ and $\pi = \frac{22}{7}$. We usually express in the form of float numbers for computation.

In [34]:
import math as m # math module
print(m.pow(2,1/2))
print(m.sqrt(2))
print(m.pi)

1.4142135623730951
1.4142135623730951
3.141592653589793

### Casting: to specify/change a variable type on to another.

In [35]:
y = 7
type(y)

int

In [36]:
y = 7
int(y), float(y), complex(y), oct(y), hex(y), str(y) # the output is tuple of various types of y

(7, 7.0, (7+0j), '0o7', '0x7', '7')

# Complex Numbers

In [37]:
complex?

Init signature: complex(real=0, imag=0)
Docstring:
Create a complex number from a real part and an optional imaginary part.

This is equivalent to (real + imag*1j) where imag defaults to 0.
Type:           type
Subclasses:     complex128

In [38]:
y1= complex(2,3)
y1

(2+3j)

In [39]:
h = 1+2j;
print(type(h))

<class 'complex'>

In [40]:
h.real, h.imag # printing separately using built in function

(1.0, 2.0)

 run `complex.conjugate?` to read the documantation

In [41]:
complex.conjugate?

Docstring:
complex.conjugate() -> complex

Return the complex conjugate of its argument. (3-4j).conjugate() == 3+4j.
Type:      method_descriptor

In [42]:
hConj=h.conjugate()
print(hConj)

(1-2j)

# Expressions, assignment statements, equalities
## See [w3schools](https://www.w3schools.com/python/python_operators.asp) for details.
### Basic arithmetic operators

In [43]:
print(3+7)
print(3-4)
print(3*4)
print(4/3) # answer convert to float even though the inputs are integers

10
-1
12
1.3333333333333333

In [44]:
print(4//3) #integer division
print(4%3) # remainder
print(2**5) #exponentiation
print(pow(2,4)) #using power function which is in math module

1
1
32
16

In [45]:
a=3*3;  # semi-colon to supress output

In [46]:
a

9

In [47]:
help(divmod)

Help on built-in function divmod in module builtins:

divmod(x, y, /)
    Return the tuple (x//y, x%y).  Invariant: div*y + mod == x.

In [48]:
quotiont, remainder = divmod(10,3)
quotiont, remainder

(3, 1)

### Assigment and Expression

In [49]:
mass = 55 # kg
acceleration = 30 # m/s^2

force = mass * acceleration # Newton =kgms^-2
print (force)

1650

Writing the following functions (explicitly)

$f1(a,x) = a x^2$

In [50]:
a = 1
x = 3
f1 = a * (x**2)
print(f1)

9

In [51]:
(a,x) = (1,3) # assigning multiple variables in a line
(a,x)

(1, 3)

In [52]:
a, x = 1, 2 # assigning multiple variables in a line

In [53]:
a = x = 2 # assigning multiple variables WITH ONE VALUE
print( a * (x**2))

8

$f2(x,y,z) = x^2 + y^3 + \sqrt{z}$

In [54]:
x= 1
y = 3
z = 4
f2 = x**2 + (y**3) + m.sqrt(z)
print(f2)

30.0

### Equalities: Comparison

In [55]:
5 < 2, 5 > 2, 6 >= 3*2, 6 == 3*2, 7 >= 3*2, 7 != 3*2,

(False, True, True, True, True, True)

In [56]:
3 in {1,3}

True

In [57]:
5 in {2,4,6}

False

what is the ouyput for the following statement
 - x = 3.0
 - type(x)

- !  exclaimation mark
- '*' asterik

# Control Flow Statements
 -  one tab is four spaces
 - Python is tan sensitive!

In [58]:
 2 in [1,2,3] # checking whether an element is in the list

True

In [59]:
 5 in [1,2,3] # checking whether an element is in the list

False

### If statement

In [60]:
if 2 in [1,2,3]: print ("yes, 2 is in the list!")

yes, 2 is in the list!

In [61]:
if 2 in [1,2,3]:
    print("yes, 2 is in the list!")

yes, 2 is in the list!

In [62]:
if 5 not in [1,2,3]:
    print ("No, 5 is NOT in the list!")

No, 5 is NOT in the list!

In [63]:
a,b = 0,1

In [64]:
if a: 
    print(str(a) + " is true")

In [65]:
if b: 
    print(str(b) + " is true!")

1 is true!

In [66]:
not b

False

In [67]:
c = 7 # choose an odd number to print
if c % 2 != 0:
    print("c is an odd number")

c is an odd number

###  if-else

In [68]:
c = 10 # choose an even number to print else statement
if c % 2 != 0:
    print("c is an odd number")
else:
    print("c is an even number")

c is an even number

### if-elif-else

In [69]:
marks = 80 # choose an even number to print else statement

if marks > 70:
    print("Good")
    
elif marks <= 69 and marks >= 40:
    print("Average")
    
else:
    print("bad")

Good

### while loop

5! = 5 x 4 ... x 1

In [70]:
n = 10
factorial = 1

while n > 0:
    factorial = factorial * n
    n = n - 1 #counter
    print('n,factorial:', n+1,',', factorial)
    
print(factorial)

n,factorial: 10 , 10
n,factorial: 9 , 90
n,factorial: 8 , 720
n,factorial: 7 , 5040
n,factorial: 6 , 30240
n,factorial: 5 , 151200
n,factorial: 4 , 604800
n,factorial: 3 , 1814400
n,factorial: 2 , 3628800
n,factorial: 1 , 3628800
3628800

In [71]:
n = 1

while n <= 12:
    print(n,":",n*n)
    n = n + 1 #counter

1 : 1
2 : 4
3 : 9
4 : 16
5 : 25
6 : 36
7 : 49
8 : 64
9 : 81
10 : 100
11 : 121
12 : 144

### while-else loop

- print even numbers and its square from 1 to 12

In [72]:
n = 1

while n <= 12:
    if n % 2 == 0:
        print(n,":",n*n)
        
    n = n + 1
    
else:
    print("Done! I am not printing even numbers!")

2 : 4
4 : 16
6 : 36
8 : 64
10 : 100
12 : 144
Done! I am not printing even numbers!

### for loop

In [73]:
mylist = {2,3,14,5}

for x in mylist: # x represent each element in mylist
    print (x**2 )

4
9
25
196

In [74]:
len(mylist)

4

In [75]:
mylist = {2,3,14,5}
total=0

for element in mylist: 
    total = total + element

print(total)

24

In [76]:
type(mylist)

set

### for-else loop

In [77]:
mylist = {2,3,14,5}

for x in mylist:
    if x % 2 == 0:
        print (x)
else:
    print("Done! not interested with odd numbers")

2
14
Done! not interested with odd numbers

### Range

In [78]:
a = range(0,7,2)
print(a)

range(0, 7, 2)

In [79]:
for i in range(0,10,2):
    print(i)

0
2
4
6
8

In [80]:
for i in range(0,20,5): # range(start,stop, stepsize)
    print(i)

0
5
10
15

### skiping and exiting a part of the loop

In [81]:
mylist = {2,3,14,5}

for x in mylist:
    if x % 2 == 0:
        print (x)
    else:
        continue # skipping odd numbers

2
14

In [82]:
mylist = {2,3,14,5}

for x in mylist:
    if x % 2 == 0:
        print (x)
    else:
        break #breaking when element 3 is in the loop

2

# Functions

- user input

In [83]:
name = str(input('Your Name: '))

Your Name:  Ali

In [84]:
type(name)

str

In [85]:
height = float(input('Enter your height in cm: '))

Enter your height in cm:  180

In [86]:
type(height)

float

In [87]:
print('Hello', name,'.You are ', height,'cm')

Hello Ali .You are  180.0 cm

## Built-in Mathematical Functions

In [88]:
abs(-1), max(3,4,22.3), min(3,4,22.3)

(1, 22.3, 3)

In [89]:
import cmath
cmath.sqrt(-1)

1j

In [90]:
import math
math.ceil(5.3), math.floor((5.3)), math.exp(1), math.sqrt(2)

(6, 5, 2.718281828459045, 1.4142135623730951)

In [91]:
import random as rd
rd.random(), rd.randrange(6,10), rd.uniform(-2,0)

(0.8500400734110021, 9, -0.21870191639850778)

## User defined functions

### Function returning no value

In [92]:
def message(): 
    print("Selamat Datang Ke UMT")

In [93]:
message()

Selamat Datang Ke UMT

In [94]:
message?

Signature: message()
Docstring: <no docstring>
File:      c:\users\apple\appdata\local\temp\ipykernel_4936\2725967337.py
Type:      function

In [95]:
def QEven(num):
    '''
    Query on even number:
    PRINTS a boolean output for an as integer": true if even number, otherwise false'''
    print(num % 2 == 0)

In [96]:
QEven?

Signature: QEven(num)
Docstring:
Query on even number:
PRINTS a boolean output for an as integer": true if even number, otherwise false
File:      c:\users\apple\appdata\local\temp\ipykernel_4936\2913011311.py
Type:      function

In [97]:
a = QEven(3)
b = QEven(40)
c = QEven(3.2)

print(a)

False
True
False
None

### Function returning value(s)

In [98]:
def QBEven(num):
    '''
    Query on even number:
    RETURNS a boolean output for an as integer": true if even number, otherwise false'''
    return num % 2 == 0

In [99]:
a = QBEven(6);

print(a)

True

In [100]:
def SplitReal(num):
    nominator = int(num)
    denominator = num - nominator
    return int(nominator), float(denominator)

In [101]:
a, b  = SplitReal(3.2)
print("Integer:",a)
print("Real:",b)

Integer: 3
Real: 0.20000000000000018

### Representing mathematical function with def: 
$f2(x,y,z) = x^2 + y^3 + \sqrt{z}$

In [102]:
def f2(x,y,z):
    from math import sqrt
    return x**2 + y**3 + sqrt(z)

print(f2(2,3,4))
print(f2(3,5,2.4))

33.0
135.54919333848298

## Function with Global Variable

In [103]:
def Add1(x,y,z):
    global sum2 
    sum2 = x + y
    totalsum = sum2 + z
    return totalsum

In [104]:
print(Add1(2,4,6))
print(sum2)

12
6

In [105]:
def Add2(x,y,z):
    sum3 = x + y
    sum = sum3 + z
    return sum

In [106]:
print(Add2(2,4,6))
#print(sum3)

12

### Recursive Function

In [107]:
def Factorial(x):
    if x == 0:
        return 1
    else:
        return (x) * Factorial(x-1)

In [108]:
Factorial(5)

120

### Lambda Expression: simple function definition

In [109]:
def Even1(num):return num % 2 == 0

In [110]:
Even2 = lambda num:num % 2 == 0

In [111]:
Even1(5), Even2(5)

(False, False)

### Functions with special arguments: *args and **kwargs

In Python, we can pass a variable number of arguments to a function using special symbols. There are two special symbols:
 - The special syntax `*args` in function definitions in python is used to pass **a (variable) number of arguments** to a function. It is used to pass a non-key worded, variable-length argument list. 
 - The special syntax`kwargs` in function definitions in python is used to pass **a keyworded, variable-length argument list**. We use the name kwargs with the double star. The reason is because the double star allows us to pass through keyword arguments (and any number of them).

In [112]:
def Fun1(ag1, *argv):
    print ("argument 1 :", ag1)
    for ag in argv:
        print("arguments in *argv :", ag)
 
Fun1('Hi', 'Welcome', 'to', 'UMT')

argument 1 : Hi
arguments in *argv : Welcome
arguments in *argv : to
arguments in *argv : UMT

In [113]:
def Fun2(ag1, **kwargs):
    for key, value in kwargs.items():
        print ("%s == %s" %(key, value))
 

Fun2("Hi", first ='Welcome', mid ='to', last='UMT')

first == Welcome
mid == to
last == UMT

# Errors, rounding, overflow

Read [Floating point aritmetic](https://docs.python.org/3/tutorial/floatingpoint.html) for more details.

In [114]:
numbers = [100, 10, 1, 0.1, 0.01, 0.001, 0.0001, 0.00001]
for number in numbers:
    print("%%e=%e, %%f=%f, %%g=%g" % (number, number, number))

%e=1.000000e+02, %f=100.000000, %g=100
%e=1.000000e+01, %f=10.000000, %g=10
%e=1.000000e+00, %f=1.000000, %g=1
%e=1.000000e-01, %f=0.100000, %g=0.1
%e=1.000000e-02, %f=0.010000, %g=0.01
%e=1.000000e-03, %f=0.001000, %g=0.001
%e=1.000000e-04, %f=0.000100, %g=0.0001
%e=1.000000e-05, %f=0.000010, %g=1e-05

>> the order is no more than 1 part in $2^{53}$ per operation on most machines, you may go up to $2^{56}$

$0.1 \approx \frac{3602879701896397} {2^{55}}$

In [115]:
3602879701896397 / (2 ** 55.) #the actual stored value is the nearest representable binary fraction.

0.1

In [116]:
print(format(1/10, '.56g'))

0.1000000000000000055511151231257827021181583404541015625

In [117]:
print(format(3602879701896397 / (2 ** 55.), '.56g'))

0.1000000000000000055511151231257827021181583404541015625

In [118]:
0.1 == 0.1000000000000000055511151231257827021181583404541015625

True

In [119]:
print(format(0.1 + 0.1, '.56g'))

0.200000000000000011102230246251565404236316680908203125

In [120]:
0.2==0.200000000000000011102230246251565404236316680908203125

True

In [121]:
print(format(0.1 + 0.1 + 0.1, '.56g'))

0.3000000000000000444089209850062616169452667236328125

In [122]:
0.3==0.3000000000000000444089209850062616169452667236328125

False

In [123]:
0.1 + 0.1 + 0.1 == 0.3

False

In [124]:
round(.1 + .1 + .1, 5) == round(.3, 5) #precision in 5 decimal digits.

True

### Overflow

- Integers and Rational numbers do not overflow, however real numbers in the form of floats can!

In [125]:
import sys

i = sys.maxsize # used for indexing
print(type(i))
print(i)

print(i + 1) # MAX INTEGER + 1
print(i == i + 1) 

print(i + 2)

<class 'int'>
9223372036854775807
9223372036854775808
False
9223372036854775809

- Float can overflow!

In [126]:
f = sys.float_info.max
print(f)

print(f == f + 1)  # MAX FLOAT + 1
print(f+1)

1.7976931348623157e+308
True
1.7976931348623157e+308

# Understanding a module

In [127]:
import numpy
#numpy?

In [128]:
numpy.__version__

'1.22.3'

# Developing your own Module: simplified version
Module is a collection of functions/data that you have tested and saved as one python file with extension ".py". Hence, you may load (similar to those external modules) in your working cell to access all the functions/data that you have saved in this file. 

Below is a (overly) simplified example.

**myModule.py**

```
def Greet(name):
    print("Apa Khabar " + name + "!")
    

def QBEven(num):
    """
    Query on even number:
    RETURNS a boolean output for an as integer": true if even number, otherwise false"""
    return num % 2 == 0


def Factorial(x):
    if x == 0:
        return 1
    else:
        return (x) * Factorial(x-1)

```

In [140]:
%reset

Once deleted, variables cannot be recovered. Proceed (y/[n])?  y

In [130]:
%run myModule.py #using IPython magic function
Greet("UMT")

Apa Khabar UMT!

In [131]:
%who

Factorial	 Greet	 QBEven

In [132]:
import myModule 
myModule.Greet("Minah")

Apa Khabar Minah!

In [133]:
myModule.Factorial(8), myModule.QBEven(723)

(40320, False)

In [134]:
import myModule as G # renaming your module
G.Greet("Kevin")
G.Factorial(4)

Apa Khabar Kevin!

24

In [135]:
%who

Factorial	 G	 Greet	 QBEven	 myModule

In [136]:
del myModule, G ## deleting loaded module or function
%who

Factorial	 Greet	 QBEven

In [137]:
from myModule import Factorial as fact #renaming a function
print(fact(4))
%who

24
Factorial	 Greet	 QBEven	 fact

You need to **reload** if you edit your module, otherwise the initial module will be executed.

In [138]:
import myModule
%who

Factorial	 Greet	 QBEven	 fact	 myModule

In [139]:
myModule.Greet("James")

Apa Khabar James!

In [141]:
import importlib, myModule
importlib.reload(myModule)

In [142]:
%who # check loaded module

importlib	 myModule

In [143]:
myModule.Greet("Minah")

Apa Khabar Minah!

In [144]:
#del Factorial
#Factorial(3)

`Import` loads the whole module, but we may opt to load a specific module

In [145]:
from myModule import Factorial

In [146]:
a = Factorial(4)
print(a)
%who

24
Factorial	 a	 importlib	 myModule

In [147]:
del(a)
%who

Factorial	 importlib	 myModule